@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  box-sizing: border-box;
}

body {
background: rgb(117,133,145);
background: linear-gradient(111deg, rgba(117,133,145,1) 0%, rgba(81,101,120,1) 44%, rgba(63,81,84,1) 100%);
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}



#navigation{
    background-color:rgba(0, 153, 218, 0.9);
    z-index: 50;
    width: 100%;
}

#navigation li{
    padding: 0 10px;
}

#navigation li a{
    color: #fff;
}

.navbar-brand,
.navbar-brand:hover{
    color: #ffff;
}

.navbar-toggler-icon{
    background: url(https://img.icons8.com/ios-glyphs/30/000000/menu-rounded.png);
    background-size: 100%;
}

.fixedNav #navigation{
    position: fixed;
    top: 0;
}

.search-bar{
  float: right;
  padding: 6px;
  border: none;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 16px;
  /* margin-left: auto; */
  font-size: 17px;
  
  max-height: 1cm;
}

.home-type{
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
    padding:5%;
    border-radius:1em;
    margin:1%;
    margin-bottom:8%;
    max-width:30cm;
    max-height:20cm;
}


.detail-poke{
    background-color:#a2d2ff;
    padding:5%;
    border-radius:5em;
    margin:1%;
    margin-bottom:8%;
    max-width:20cm;
    max-height:20cm;
}


h1 {
  letter-spacing: 3px;
}

.icon {
    border-radius: 100%;
    height: 20%;
    width: 20%;
    margin:auto;
    transition: 200ms all;
    display:inline-block;
}

.icon:hover{
    filter: saturate(200%);
    transform: scale(1.1);
}

.icon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.bug {
    background: #92BC2C;
    box-shadow: 0 0 20px #92BC2C;
}

.dark {
    background: #595761;
    box-shadow: 0 0 20px #595761;
}

.dragon {
    background: #0C69C8;
    box-shadow: 0 0 20px #0C69C8;
}

.electric {
    background: #F2D94E;
    box-shadow: 0 0 20px #F2D94E;
}

.fire {
    background: #FBA54C;
    box-shadow: 0 0 20px #FBA54C;
}

.fairy {
    background: #EE90E6;
    box-shadow: 0 0 20px #EE90E6;
}

.fighting {
    background: #D3425F;
    box-shadow: 0 0 20px #D3425F;
}

.flying {
    background: #A1BBEC;
    box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
    background: #5F6DBC;
    box-shadow: 0 0 20px #5F6DBC;
}

.grass {
    background: #5FBD58;
    box-shadow: 0 0 20px #5FBD58;
}

.ground {
    background: #DA7C4D;
    box-shadow: 0 0 20px #DA7C4D;
}

.ice {
    background: #75D0C1;
    box-shadow: 0 0 20px #75D0C1;
}

.normal {
    background: #A0A29F;
    box-shadow: 0 0 20px #A0A29F;
}

.poison {
    background: #B763CF;
    box-shadow: 0 0 20px #B763CF;
}

.psychic {
    background: #FA8581;
    box-shadow: 0 0 20px #FA8581;
}

.rock {
    background: #C9BB8A;
    box-shadow: 0 0 20px #C9BB8A;
}

.steel {
    background: #5695A3;
    box-shadow: 0 0 20px #5695A3;
}

.water {
    background: #539DDF;
    box-shadow: 0 0 20px #539DDF;
}


.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  max-width: 90%;
  margin-top: 20px;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .info .number {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.8em;
}

.pokemon .info .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}






.slides-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}
.slides-navigation .prev,
.slides-navigation .next{
    width:60px;
    height:60px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev{
    left: 20px;

}

.slides-navigation a.next{
    right: 20px;

}

.slides-titleMessage{
    z-index: 5;
    text-align: center;
    height: 250px;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -125px;
}
.slides-titleMessage .slides-heading p{
    color: #fff;
    text-shadow: 0px 2px 5px rgb(0 0 0 / 40%);
    font-weight: 100;
    letter-spacing: 7px;
}

.slides-container img{
    max-height: 100em;
}