

{% include "header.html" %}



  <div class="detail-poke"  >

      <h1 style="float:left;margin-right:25%">{{pokemon["name"].capitalize()}}</h1>
      <h1 style="float:right;">#{{ "%03d" % pokemon["id"]}}</h1>
        <br>
      <img style="width:50%;height:50%;margin-top:1%;" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon["id"]}}.png">
        <br>

        {% for i in pokemon["type"] %}
        <div class="icon {{i.lower()}}" style="margin:10px">
            <img src="https://raw.githubusercontent.com/duiker101/pokemon-type-svg-icons/5781623f147f1bf850f426cfe1874ba56a9b75ee/icons/{{i.lower()}}.svg"/>
        </div>
        {% endfor %}
      <div style="width:50%;float:right;justify-content: center;align-items: center;position:relative;">
          <h2 style="text-align:center;justify-content: center;align-items: center;">Ability</h2>
        {% for i in pokemon["ability"] %}
        <h3 style="justify-content: center;align-items: center;padding:5px;border: 5px double #1C6EA4;border-radius: 40px;text-align:center;font-weight: bold;">{{i.capitalize()}}</h3>
        {% endfor %}
      </div>

  <span style="float:left">

          <img  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{pokemon["id"]}}.png">
            <img  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/{{pokemon["id"]}}.png">

          <img  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/shiny/{{pokemon["id"]}}.png">
          <img  src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/back/shiny/{{pokemon["id"]}}.png">
        </span>

  </div>


  {% include "footer.html" %}




