

{% include "header.html" %}

<div class="poke-container" id="poke-container"  >
        {% for pokemon in pokemons.values() %}
<div class="pokemon" style="background-color: {{ color[pokemon["type"][0]] }};">
            <div class="img-container">
            <a href="/detail/{{pokemon["id"]}}">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{pokemon["id"]}}.png">
                </a></span>

        </div>
        <div class="info">
            <span class="number"><a href="/detail/{{pokemon["id"]}}">{{ "%03d" % pokemon["id"]}}</a></span>
            <h3 class="name" style="font-size:1.3em;font-weight: bold;">{{pokemon["name"].capitalize()}}</h3>
            {% for type in pokemon["type"]%}
            <div class="{{type.lower()}}" style="padding:5%;padding-top:1px;padding-bottom:1px;border-radius:1em;" ><span>{{ type }}</span> </div>
            {%endfor%}
        </div>

    </div>
        {% endfor %}

    </div>

</body>
</html>



